<app-header></app-header>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>All Brands List</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Game</th>
        <th>Quantity</th>
        <th>Company</th>
        <th>Price</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of allEquip">
        <td>{{e.name}}</td>
        <td>{{e.game}}</td>
        <td>{{e.qty}}</td>
        <td>{{e.company}}</td>
        <td>{{e.price}}</td>
       <td> <button class="btn btn-danger btn-xs" (click)="delteUser(e.id)">
			<span class="glyphicon glyphicon-remove"></span> Delete</button></td>
          
      </tr>
      </tbody>
  </table>
</div>

</body>
</html>