<app-header></app-header>
<html>
<body>
    <div>
        <marquee [scrollAmount]="8" bgColor="white">
            <b color="#254">!!!KITS FOR ALL GAMES AVAILABLE HERE!!!</b>
        </marquee>
    </div>
	<div class="middle">
		<div style="background-image:url('assets/Images/cover.jpg');">
		
		</div>
	</div>
	<div>
        <marquee [scrollAmount]="10">
            <b>Brands like SG, Adidas, Reebok, Puma, UnderArmour, Skechers, Lotto, Nike, Fila Available for Wholesale price</b>
        </marquee>
    </div>
	<div class="bottom">
		<div>
			<table border="10">
				<tr>
					<td width="3000">
						<font  color="#000" size="10px">Lucky Sport Goods and Kits </font> <br> <br>

					<font color="#000" size="5px"> Any Branded Sports Kits for You! </font> <br> <br>

Lucky sports shop is a landmark place for all the specified kits and things for any sport and game. 
It is opened on 20,July 2003.It recently celebrated its 20 years annivesary grandly.It had succeeded in delivering Original branded kits for people with immense quality.
It is running successfully from over 2 decades with profits and great footfalls.

It is a one-stop shop for all sports needs. <br>They offer a comprehensive collection of Games, Camping, and Trucking Goods. <br>They provide leading sports and lifestyle retailers internationally and also provide their customers with an unrivalled range of high-quality sports brands. The shop offers good quality products at reasonable prices. Decathlon Vijayawada offers parking spaces and outdoor activity areas. They provide a minimum of two years warranties and complimentary pickup in-store.

 </td>
					
					
					<td> </td>
				</tr>
			
				
			</table>
		</div>
	</div>